@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@import url("https://fonts.googleapis.com/css?family=Arvo:700");
@import url("https://fonts.googleapis.com/css?family=Seaweed+Script");

body {
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
